h1 {
    margin: 100px auto 10px;
    text-align: center;
}

h3 {
    margin: 20px;
    text-align: center;
}

.trainer {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.trainer h2 {
    font-size: 35px;
    margin-bottom: 20px;
}

.trainer p {
    font-size: 22px;
}

.trainer .best {
    margin-top: -84px;
    z-index: 11;
    position: absolute;
    font-size: 24px;
    font-weight: 900;
    background-color: green;
    border-radius: 0 60px 0 60px;
    padding: 10px 50px;
}

.trainer .trainer-image {
    width: 50%;
    overflow: hidden;
}

.trainer .trainer-image img {
    width: 100%;
}

.trainer .text-trainer {
    width: 40%;
}

.accordion-container {
    width: 80%;
    margin: 0 auto;
    margin-top: 100px;
}

.accordion {
    cursor: pointer;
    padding: 20px 30px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    text-align: center;
    font-size: 22px;
    transition: 0.4s;
    border-radius: 0 60px 0 60px;
    background: none;
    border-bottom: 3px var(--olive-green-clr) solid;
    border-right: 3px var(--olive-green-clr) solid;
}

.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
    width: 70%;
    margin: 20px auto;
}

.item-container .item .item-image {
    background-color: rgb(0, 0, 0);
}
@media only screen and (max-width: 1024px) {
    .trainer {
        width: 94%;
    }

    .trainer .text-trainer {
        width: 46%;
    }

    .footer-container {
        padding-top: 10px;
    }

    .footer-info {
        width: 60%;
        margin-left: 34px;
    }

    .plant-image-drop {
        width: 50%;
    }

    .footer-bottom {
        width: 65%;
        margin-left: 34px;
        margin-top: 30px;
    }

    .trainer .best {
        padding: 8px 40px;
        font-size: 30px;
    }
    .best
    {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    .trainer {
        width: 90%;
        flex-direction: column;
    }

    .trainer .text-trainer {
        width: 100%;
    }

    .trainer .trainer-image {
        width: 100%;
    }

    .trainer .best {
        bottom: 500px;
    }
}

@media only screen and (max-width: 480px) {
    .trainer .trainer-image {
        margin: 0 auto;
    }

    .trainer {
        width: 94%;
        flex-direction: column-reverse;
        margin: 0 auto;
    }
}