/* INDEX CSS */
/* main start */
.parallax
{
    position: relative;
    height: 100vh;
    align-items: center;
    text-align: center;
    width: 100%;
    background-color: #91dc8a;
    overflow: hidden;
}
.parallax #parallax-text
{
    font-size: 100px;
    color: white;
    margin: 0 auto;
    position: absolute;
    left: 40%;
    text-shadow: 0 0 10px black;
}
.parallax img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.parallax #img-1
{
    height: 100vh;
}
.parallax #img-2
{
    height: 200vh;
}
.parallax #img-3,
.parallax #img-4 
{
    height: 100vh;
    margin-top: 50px;
}
.parallax svg
{
    position: absolute;
    bottom: 0;
    left: 0;
}
.text-container
{
    width: 80%;
    margin: 20px auto;
    margin-bottom: 50px;
}
.text-container .image-container
{
    width: 900px;
    height: 500px;
    overflow: hidden;
}.text-container .image-container img
{
    width: 100%;
}
.text-container .text-container-box h2
{
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 30px;
}
.text-container .text-container-box p
{
    font-size: 20px;
    width: 500px;
    margin-bottom: 30px;
}
.text-container .text-container-box button
{
    width: 80%;
    transition: 0.5s;
    font-size: 40px;
    padding: 10px 30px;
    border: none;
    margin-top: 30px;
    outline: none;
    background-color: #00000000;
    border-radius: 60px 0 60px 0;
    border-bottom: 5px var(--olive-green-clr) solid;
    border-right: 5px var(--olive-green-clr) solid;
}
.text-container .text-container-box button:hover
{
    transition: 0.5s;
    border-radius: 0 60px 0 60px;
}
/* // */












.slideshow-container {
    width: 80%;
    position: relative;
    margin: auto;
    height: 550px;
    margin-top: 100px;
    margin-bottom: 10px;
  }
  
  .mySlides {
    display: none;
    width: 100%;
    margin: 0 auto;
  }
  
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: green;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  
  .prev:hover, .next:hover {
    background-color: rgba(0, 128, 0, 0.137);
  }
  
  .text-slider {
    color: #000000;
    font-size: 20px;
    padding: 10px 20px;
    width: 50%;
    z-index: 10;
    margin: 0 auto;
    text-align: center;
  }
  .image-slider
  {
    width: 20%;
    overflow: hidden;
    margin: 0 auto;
    border-radius: 25px;
  }
  .image-slider img
  .slider-image
  {
    width: 100%;
  }
  button{
    padding: 10px 30px;
    font-size: 30px;
    border: none;
    margin-top: 30px;
    outline: none;
    background-color: #00000000;
    border-radius: 60px 0 60px 0;
    border-bottom: 3px var(--olive-green-clr) solid;
    border-right: 3px var(--olive-green-clr) solid;
    transition: 0.5s;
  }
  button:hover
  {
    transition: 0.5s;
    border-radius: 0 60px 0 60px;
  }
/* main end */